body{
    background-image: url("./pink=flower.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
}

input{
    width: 50%;
    padding: 8px;
}
textarea{
    width: 70%;
    padding: 5px;
}

button{
    width: 50%;
}